/* icons */

.craft--arrow-up {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13 20h-2V8l-5.5 5.5l-1.42-1.42L12 4.16l7.92 7.92l-1.42 1.42L13 8z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transform: rotate(45deg) translateY(-.2rem);
}

.craft--arrow-outlined {
    display: inline-block;
    width: 1.2rem;
    height: 2.4rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cdefs%3E%3Cpath id='SVG1pzpbdYY' fill='%23000' d='m7.588 12.43l-1.061 1.06L.748 7.713a.996.996 0 0 1 0-1.413L6.527.52l1.06 1.06l-5.424 5.425z'/%3E%3C/defs%3E%3Cuse fill-rule='evenodd' href='%23SVG1pzpbdYY' transform='rotate(-180 5.02 9.505)'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.craft--path {
    display: inline-block;
    width: 1.2rem;
    height: 2.4rem;
    --svg: url('data:image/svg+xml,<svg width="14" height="21" viewBox="0 0 14 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.05078 17.2188C9.16331 17.0081 9.42608 16.9253 9.63867 17.042C10.2107 17.3569 10.582 17.8082 10.582 18.334C10.5819 18.9329 10.1147 19.4207 9.4043 19.7432C8.74824 20.0408 7.89412 20.2002 7 20.2002C6.10589 20.2002 5.25173 20.0408 4.5957 19.7432C3.88542 19.4207 3.41808 18.9329 3.41797 18.334C3.41797 17.8092 3.78802 17.3582 4.3584 17.043L4.44043 17.0088C4.63455 16.9489 4.8485 17.0346 4.94727 17.2197C5.05912 17.4297 4.98352 17.6931 4.77441 17.8096L4.77344 17.8105C4.59615 17.9085 4.46965 18.0092 4.38965 18.1035C4.30982 18.1976 4.28418 18.2754 4.28418 18.334C4.28426 18.402 4.32146 18.499 4.43945 18.6162C4.55607 18.732 4.73609 18.8517 4.97852 18.959C5.46261 19.1732 6.16327 19.3261 7 19.3262C7.83663 19.3262 8.53736 19.1732 9.02148 18.959C9.26409 18.8516 9.44491 18.7321 9.56152 18.6162C9.67949 18.499 9.71574 18.4019 9.71582 18.334C9.71582 18.2753 9.69055 18.1968 9.61035 18.1025C9.52997 18.0081 9.40252 17.9075 9.22461 17.8096C9.01505 17.6938 8.93852 17.4292 9.05078 17.2188ZM7 0.799805C10.4221 0.799912 13.2002 3.63253 13.2002 7.10645C13.2001 7.43569 13.057 7.9353 12.8311 8.53613C12.6014 9.14669 12.2745 9.89067 11.8828 10.7207C11.0993 12.3812 10.0517 14.4008 8.99316 16.416C8.80372 16.7767 8.63427 17.0985 8.49023 17.375L8.1377 18.0605C7.91736 18.5023 7.49037 18.7705 7 18.7705C6.5094 18.7704 6.08266 18.5025 5.8623 18.0605C5.65612 17.6476 5.30621 16.9893 4.89941 16.2227C3.86843 14.2801 2.84741 12.3297 2.08398 10.71C1.70235 9.90024 1.38307 9.16973 1.15918 8.56152C0.938183 7.96117 0.799805 7.45534 0.799805 7.10645C0.799838 3.63253 3.57781 0.799805 7 0.799805ZM7 1.6748C4.0623 1.67491 1.66602 4.10867 1.66602 7.10645C1.66608 7.2303 1.69967 7.41897 1.77246 7.6709C1.84429 7.91946 1.94977 8.21641 2.08203 8.55078C2.34649 9.21934 2.7151 10.0278 3.12891 10.8838C3.9563 12.5952 4.95941 14.4856 5.66211 15.8096C6.06915 16.5765 6.42302 17.2428 6.63477 17.667C6.70933 17.8163 6.83925 17.8964 7 17.8965C7.16084 17.8965 7.29064 17.8164 7.36523 17.667C7.54799 17.3014 7.84959 16.7284 8.22852 16.0068C8.95024 14.6325 9.98083 12.67 10.8311 10.9102C11.2562 10.0301 11.6353 9.20365 11.9072 8.52832C12.0432 8.19054 12.1507 7.89294 12.2246 7.64746C12.2999 7.39723 12.335 7.21701 12.335 7.10645C12.3349 4.10785 9.93776 1.6748 7 1.6748ZM7 3.08008C9.18688 3.08008 10.9599 4.88958 10.96 7.10645C10.96 9.32334 9.1869 11.1328 7 11.1328C4.81319 11.1327 3.04004 9.32327 3.04004 7.10645C3.04007 4.88965 4.81321 3.08018 7 3.08008ZM7 3.9541C5.29759 3.95421 3.90628 5.365 3.90625 7.10645C3.90625 8.84792 5.29757 10.2587 7 10.2588C8.7025 10.2588 10.0947 8.8476 10.0947 7.10645C10.0947 5.36531 8.70248 3.9541 7 3.9541Z" fill="%23316FAF" stroke="%23316FAF" stroke-width="0.4"/></svg>');
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}